In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

# IMPT: make shortcut of the BT4012 Project folder inside your google drive so the stuff below works
drive.mount("/content/drive")
trainData = pd.read_csv("/content/drive/My Drive/BT4012 Project/fraudTrain.csv")
testData = pd.read_csv("/content/drive/My Drive/BT4012 Project/fraudTest.csv")
# maybe can combine both sets of data then split on our own for more credits?
allData = pd.concat([trainData, testData])

Mounted at /content/drive

In [ ]:
def age_group(row):
    rows = row["age"]
    if rows <20:
        return "less than 20"
    elif rows >=20 and rows<30:
        return "20 to 30"
    elif rows >=30 and rows<40:
        return "30 to 40"
    elif rows >=40 and rows<50:
        return "40 to 50"
    elif rows >=50 and rows<60:
        return "50 to 60"
    elif rows >=60 and rows<70:
        return "60 to 70"
    elif rows >=70 and rows<80:
        return "70 to 80"
    elif rows >=80 and rows<90:
        return "80 to 90"
    else:
        return "greater than 90"

In [ ]:
from sklearn.model_selection import train_test_split

# print(allData.corr())

# age grp
allData["age"] = pd.DatetimeIndex(allData["trans_date_trans_time"]).year-pd.DatetimeIndex(allData["dob"]).year
allData["age_group"] = allData.apply(age_group,axis=1)

# trans times / age
allData["trans_hour"] = pd.DatetimeIndex(allData["trans_date_trans_time"]).hour
allData["trans_yrmth"] = pd.DatetimeIndex(allData['trans_date_trans_time']).strftime('%Y-%m')
allData["weekday"] = pd.DatetimeIndex(allData["trans_date_trans_time"]).weekday
allData["date"] = pd.to_datetime(allData['trans_date_trans_time']).dt.date

# drop redundant index column
allData.drop(labels="Unnamed: 0", axis=1, inplace=True)

# calculating the distance between the merchant location and transaction location
allData["latitude_difference"] = abs(allData["lat"]-allData["merch_lat"])
allData["longitude_difference"] = abs(allData["long"]-allData["merch_long"])

# it is estimated that difference between each degree of longitude and lattitude is approximately 69 miles which is 110 km
# applying pythogoras theorem
allData["distance"] = np.sqrt(pow(allData["latitude_difference"]*110,2)+pow(allData["longitude_difference"]*110,2))
allData['distance'].describe()

allData.category = allData.category.astype("category")
allData.gender = allData.gender.astype("category")
allData.state = allData.state.astype("category")
allData.age_group = allData.age_group.astype("category")
allData.trans_yrmth = allData.trans_yrmth.astype("category")
allData.weekday = allData.weekday.astype("category")
allData.job = allData.job.astype("category")
allData.city = allData.city.astype("category")
allData.is_fraud = allData.is_fraud.astype("category")
allData.trans_hour = allData.trans_hour.astype("category")

#can ignore others, just use train, validation, test
train, test = train_test_split(allData, test_size=0.2, random_state=4012)
del(allData)

onlyFraud = train[train.is_fraud == 1]
noFraud = train[train.is_fraud != 1]

print(onlyFraud)

       trans_date_trans_time            cc_num  \
288598   2019-05-21 23:40:29  6011438889172900
644699   2019-10-01 01:45:49   346208242862904
366597   2019-06-19 01:11:01  6506116513503136
621562   2019-09-21 17:41:09  3565943051129759
10057    2019-01-07 04:34:48  3597980945245815
...                      ...               ...
205282   2019-04-15 03:05:13  3548710338694745
389704   2020-11-21 03:17:38    30235268718158
204807   2020-09-01 01:10:19  4003989662068504
93343    2019-02-24 22:33:25   180036456789979
351029   2019-06-14 00:17:50  6011948324228984

                                  merchant       category     amt      first  \
288598                fraud_Abbott-Steuber  personal_care   20.17    Allison
644699                   fraud_Collier Inc    grocery_net   10.54    Tabitha
366597               fraud_Dooley-Thompson       misc_net  773.63   Kimberly
621562                     fraud_Lynch Ltd   shopping_pos  905.66      David
10057     fraud_Schumm, Bauch and Ondricka    grocery_pos  300.14       Mark
...                                    ...            ...     ...        ...
205282                    fraud_Huels-Hahn  gas_transport    9.07    Michael
389704             fraud_Cartwright-Harris    grocery_pos  306.22    Kenneth
204807                  fraud_Bednar Group       misc_net  872.36      Chris
93343     fraud_Kutch, Steuber and Gerhold    food_dining  125.12  Mackenzie
351029  fraud_Osinski, Ledner and Leuschke    grocery_pos  313.83   Mckenzie

           last gender                      street           city  ...  \
288598    Allen      F         40624 Rebecca Spurs        De Witt  ...
644699    Reyes      F       20938 Barbara Viaduct  New York City  ...
366597     Rice      F  63991 Destiny Rue Apt. 651          Tyler  ...
621562   Thomas      M     838 Dan Haven Suite 003   Webster City  ...
10057     Allen      M           25360 Mcgee Forge       De Queen  ...
...         ...    ...                         ...            ...  ...
205282   Rivera      M           731 Watson Spring       Granbury  ...
389704    Doyle      M              8614 Reed Glen  West Harrison  ...
204807    White      M         98897 Bennett Lodge       Bessemer  ...
93343   Salazar      F            982 Melissa Lock         Bagley  ...
351029   Brooks      F         3872 Matthew Skyway          Paris  ...

       is_fraud  age  age_group  trans_hour  trans_yrmth weekday        date  \
288598        1   26   20 to 30          23      2019-05       1  2019-05-21
644699        1   58   50 to 60           1      2019-10       1  2019-10-01
366597        1   35   30 to 40           1      2019-06       2  2019-06-19
621562        1   56   50 to 60          17      2019-09       5  2019-09-21
10057         1   62   60 to 70           4      2019-01       0  2019-01-07
...         ...  ...        ...         ...          ...     ...         ...
205282        1   54   50 to 60           3      2019-04       0  2019-04-15
389704        1   43   40 to 50           3      2020-11       5  2020-11-21
204807        1   31   30 to 40           1      2020-09       1  2020-09-01
93343         1   45   40 to 50          22      2019-02       6  2019-02-24
351029        1   58   50 to 60           0      2019-06       4  2019-06-14

       latitude_difference  longitude_difference    distance
288598            0.393148              0.835353  101.556870
644699            0.217883              0.893545  101.169845
366597            0.776588              0.985573  138.024494
621562            0.991840              0.966547  152.339464
10057             0.838696              0.627755  115.237132
...                    ...                   ...         ...
205282            0.648783              0.698126  104.835211
389704            0.145435              0.280728   34.778018
204807            0.063913              0.223799   25.602099
93343             0.571891              0.887606  116.147902
351029            0.169422              0.651076   74.003416

[7706 rows x 31 columns]

In [ ]:
train.drop(["trans_date_trans_time", "first", "last", "unix_time", "street", "cc_num", "merchant", "age", "city_pop", "zip", "dob", "trans_num"], axis=1, inplace=True)
train.drop(["lat","long","merch_lat","merch_long","latitude_difference","longitude_difference", 'date'], axis=1, inplace=True)

test.drop(["trans_date_trans_time", "first", "last", "unix_time", "street", "cc_num", "merchant", "age", "city_pop", "zip", "dob", "trans_num"], axis=1, inplace=True)
test.drop(["lat","long","merch_lat","merch_long","latitude_difference","longitude_difference", 'date'], axis=1, inplace=True)

In [ ]:
X_train = train.drop(['is_fraud'], axis=1)
y_train = train['is_fraud']

X_test = test.drop(['is_fraud'], axis=1)
y_test = test['is_fraud']

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train[['amt', 'distance']] = scaler.fit_transform(X_train[['amt', 'distance']])
X_test[['amt', 'distance']] = scaler.transform(X_test[['amt', 'distance']])
X_train

,category,amt,gender,city,state,job,age_group,trans_hour,trans_yrmth,weekday,distance
1089385,shopping_net,-0.383380,M,Pembroke,NC,Hospital doctor,60 to 70,7,2020-03,6,0.128891
396245,gas_transport,0.034714,F,Centerview,MO,Electronics engineer,30 to 40,1,2019-06,6,1.050038
816379,misc_net,2.015096,M,Oakland,TN,Furniture conservator/restorer,20 to 30,5,2019-12,6,-0.889407
476241,shopping_pos,0.166698,F,Lakeport,CA,Podiatrist,40 to 50,12,2020-12,0,0.763506
567642,kids_pets,-0.354002,M,San Antonio,TX,Exhibition designer,40 to 50,20,2019-08,3,0.458453
...,...,...,...,...,...,...,...,...,...,...,...
1286615,misc_pos,-0.397409,F,Sutherland,NE,Insurance broker,30 to 40,23,2020-06,1,-0.678208
926319,shopping_net,0.181167,F,Steuben,ME,Make,60 to 70,3,2020-01,3,1.222068
83164,misc_pos,-0.374762,F,Tulsa,OK,Bookseller,50 to 60,9,2020-07,0,-0.064892
301454,travel,-0.400114,F,Allentown,PA,"Scientist, research (maths)",20 to 30,23,2019-05,6,-1.963438
1153294,gas_transport,-0.129919,M,Cord,AR,"Designer, ceramics/pottery",80 to 90,10,2020-04,6,0.705288

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.neural_network import MLPClassifier
import time
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score

In [ ]:
numeric_transformer = Pipeline(steps=[
    ("simple_imputer", SimpleImputer(strategy="mean")),
    ("mean", StandardScaler()) # Standardization
])

categorical_transformer = Pipeline(steps=[
    ("simple_imputer", SimpleImputer(strategy="most_frequent")),
    ("one_hot_encoder", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(transformers=[
    ("numeric_transformer", numeric_transformer, make_column_selector(dtype_exclude="category")),
    ("categorical_transformer", categorical_transformer, make_column_selector(dtype_include="category"))
], remainder="passthrough")

pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("logistic_regression", MLPClassifier(hidden_layer_sizes=(100, 100), max_iter=300, activation='relu', random_state=4012))
])

time_start = time.perf_counter()

pipeline.fit(X_train, y_train)

training_time = time.perf_counter() - time_start
training_time

y_pred = pd.Series(pipeline.predict(X_test))
y_pred

# Track the performance of various models
performance_tracker = pd.DataFrame(columns=["Model Name", "Training Time", "Accuracy", "Recall", "Precision", "F1", "ROC AUC"])
performance_tracker.loc["Logistic Regression"] = ["Logistic Regression", training_time, accuracy_score(test.is_fraud, y_pred), recall_score(test.is_fraud, y_pred), precision_score(test.is_fraud, y_pred), f1_score(test.is_fraud, y_pred), roc_auc_score(test.is_fraud, y_pred)]
performance_tracker

,Model Name,Training Time,Accuracy,Recall,Precision,F1,ROC AUC
Logistic Regression,Logistic Regression,3123.473949,0.999015,0.87455,0.933589,0.903106,0.937111

In [ ]:
numeric_transformer = Pipeline(steps=[
    ("simple_imputer", SimpleImputer(strategy="mean")),
    ("mean", StandardScaler()) # Standardization
])

categorical_transformer = Pipeline(steps=[
    ("simple_imputer", SimpleImputer(strategy="most_frequent")),
    ("one_hot_encoder", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(transformers=[
    ("numeric_transformer", numeric_transformer, make_column_selector(dtype_exclude="category")),
    ("categorical_transformer", categorical_transformer, make_column_selector(dtype_include="category"))
], remainder="passthrough")

pipeline2 = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("logistic_regression", MLPClassifier(hidden_layer_sizes=(300, 300), max_iter=500, activation='relu', random_state=4012))
])

time_start = time.perf_counter()

pipeline2.fit(X_train, y_train)

training_time = time.perf_counter() - time_start
training_time

y_pred_2 = pd.Series(pipeline2.predict(X_test))
y_pred_2

# Track the performance of various models
performance_tracker = pd.DataFrame(columns=["Model Name", "Training Time", "Accuracy", "Recall", "Precision", "F1", "ROC AUC"])
performance_tracker.loc["Logistic Regression"] = ["Logistic Regression", training_time, accuracy_score(test.is_fraud, y_pred_2), recall_score(test.is_fraud, y_pred_2), precision_score(test.is_fraud, y_pred_2), f1_score(test.is_fraud, y_pred_2), roc_auc_score(test.is_fraud, y_pred_2)]
performance_tracker

,Model Name,Training Time,Accuracy,Recall,Precision,F1,ROC AUC
Logistic Regression,Logistic Regression,2759.522685,0.998796,0.89563,0.877582,0.886514,0.947485

In [ ]:
pipeline3 = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("logistic_regression", MLPClassifier(hidden_layer_sizes=(1000, 1000), max_iter=500, activation='relu', random_state=4012))
])

time_start = time.perf_counter()

pipeline3.fit(X_train, y_train)

training_time = time.perf_counter() - time_start
training_time

y_pred_3 = pd.Series(pipeline3.predict(X_test))
y_pred_3

# Track the performance of various models
performance_tracker = pd.DataFrame(columns=["Model Name", "Training Time", "Accuracy", "Recall", "Precision", "F1", "ROC AUC"])
performance_tracker.loc["Logistic Regression"] = ["Logistic Regression", training_time, accuracy_score(test.is_fraud, y_pred_3), recall_score(test.is_fraud, y_pred_3), precision_score(test.is_fraud, y_pred_3), f1_score(test.is_fraud, y_pred_3), roc_auc_score(test.is_fraud, y_pred_3)]
performance_tracker

,Model Name,Training Time,Accuracy,Recall,Precision,F1,ROC AUC
Logistic Regression,Logistic Regression,12575.085395,0.998858,0.899229,0.885121,0.892119,0.949306